main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

h1 {
    padding: 1rem;
    font-family: sans-serif;
}

.text-boxes .slide {
    font-family: sans-serif;
    padding: 1rem 1.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: red;
    height: 100%;
    color: white;
}

.text-boxes .red {
    background-color: red;
}

.text-boxes .green {
    background-color: green;
    width: 8rem;
}

.text-boxes .blue {
    background-color: blue;
}

.small .slide {
    border: 1px solid black;
    height: 1rem;
    width: 1px;
}

.sq-r {
    background-color: red;
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
}

.sq-g {
    background-color: green;
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
}
